[submodule "XLEngine/vendor/spdlog"]
	path = XLEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "XLEngine/vendor/GLFW"]
	path = XLEngine/vendor/GLFW
	url = https://github.com/Xulin8/glfw.git
[submodule "XLEngine/vendor/imgui"]
	path = XLEngine/vendor/imgui
	url = https://github.com/XuLin8/imgui
[submodule "XLEngine/vendor/glm"]
	path = XLEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "XLEngine/vendor/yaml-cpp"]
	path = XLEngine/vendor/yaml-cpp
	url = https://github.com/XuLin8/yaml-cpp.git
[submodule "XLEngine/vendor/ImGuizmo"]
	path = XLEngine/vendor/ImGuizmo
	url = https://github.com/XuLin8/ImGuizmo
[submodule "XLEngine/vendor/Box2D"]
	path = XLEngine/vendor/Box2D
	url = https://github.com/XuLin8/box2d
