[submodule "XLEngine/vendor/spdlog"]
	path = XLEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "XLEngine/vendor/imgui"]
	path = XLEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
